---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Hero from '../../components/Hero.astro';
import About from '../../components/About.astro';
import Stack from '../../components/Stack.astro';
import Projects from '../../components/Projects.astro';
import Certifications from '../../components/Certifications.astro';
import Contact from '../../components/Contact.astro';
import { en } from '../../i18n/en';
---

<Layout title="David Gómez · Backend Developer">
  <Navbar t={en} lang="en" />
  <main>
    <Hero t={en} />
    <About t={en} />
    <Stack t={en} />
    <Projects t={en} />
    <Certifications t={en} />
    <Contact t={en} />
  </main>
</Layout>