---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Stack from '../components/Stack.astro';
import Projects from '../components/Projects.astro';
import Certifications from '../components/Certifications.astro';
import Contact from '../components/Contact.astro';
import { es } from '../i18n/es';
---

<Layout>
  <Navbar t={es} lang="es" />
  <main>
    <Hero t={es} />
    <About t={es} />
    <Stack t={es} />
    <Projects t={es} />
    <Certifications t={es} />
    <Contact t={es} />
  </main>
</Layout>